body
{
    font-family: "Roboto", Roboto, Arial, sans-serif;
}
h1
{
    color: white;
}
.text-align {
    text-align: center;
}

.explain {
    color: white;
    font-size: 45px;
    text-transform: uppercase;
}
.small-it {
    font-size: 20px;
    color: white;
    margin-bottom: 5%;
}
